h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
 .background{
    background-color: mediumpurple;
    padding: 30px;
 }
 .title{
    background-color: mediumpurple;
  }
